h1 {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 80px;
}
b1 {
  color: aquamarine;
  background-color: aliceblue;
  text-align: left;
  line-height: 40px;
  font-size: 30px;
}
.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
